body {
	color: black;
	background-color: white;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 50%; /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

#header {
	color: white;
	background-color: #A3E2F4;
	font-size: 91%;
	margin: 0;
	padding: 1em 2.5mm 2.5ex 2.5mm;
	clear: both;
}

#headerTitle {
	font-size: 91%;
	font-weight: normal;
	position: relative;
	margin: 0 0 0 4mm;
	padding: 0.25ex 0;
}

#menu {
	width: 15em;
	float: left;
	clear: left;
	border-right: 1px solid rgb(153, 153, 153);
	background-color: rgb(206, 243, 164);
	padding: 2mm 2mm 2mm 2mm;
}

#menu div {
	border-bottom: 1px solid rgb(153, 153, 153);
}

#footer {
	color: white;
	background-color: #A3E2F4;
	font-size: 91%;
	margin: 0;
	padding: 1em 2.5mm 2.5ex 2.5mm;
	clear: both;
}

#content {
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.5em;
	margin: 0 0 0 15em;
	padding: 2mm 5mm 5mm 5mm;
}

#content p {
	margin: 1em 1ex 2em 1ex;
	padding: 0;
}

#content h1 {
	color: white;
	background-color: #488214;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0.5ex 0 0.5ex 1ex;
}

#rcorners2 {
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
	width: 200px;
	height: 150px;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ccc;
	width: 98%;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #fff;
}

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
}

.tg .tg-4eph {
	background-color: #f9f9f9
}

ul{
	list-style-type: circle;
}

.success {
	/* background-color: #53F9CE; */
	width:50%;
	color: green;
}

.error {
	/* background-color: #FBBCBC; */
	width:50%;
	color: red;
}

formfield {
	width: 100px;
	position:relative;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
    font-size: 11px;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.fullwidth{
	width:100%;
}

a.editObj
{ 
    background: transparent url('../images/edit.png') no-repeat center right;
    padding-right: 20px;
}
a.deleteObj
{ 
    background: transparent url('../images/delete.png') no-repeat center right;
    padding-right: 20px;
}

img.closeObj
{
	 background: transparent url('../images/close-icon.png') no-repeat center right;
}

.table td
{
	font-size: 13px;
	font-weight: normal;
	font-family: Tahoma, Arial, san-serif;
	text-transform: none;
	color: #474747;
	white-space: nowrap;
}

.table th ,button ,a.has-submenu,.panel-heading
{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma, Arial, san-serif;
	text-transform: none;
	color: #474747;
	white-space: nowrap;
	padding: 2px;
}

.table td ,button ,a.has-submenu
{
	font-size: 11px;
	font-family: Tahoma, Arial, san-serif;
	text-transform: none;
	color: #474747;
	white-space: nowrap;
	padding: 2px;
}

img.close-image{
    display: block;
    float:right;
    position:relative;
    top:0px;
    right: 0px;
    height: 20px;
}

.borderRed{
	border-color :red;
	border:solid 1px red;
	border-image: none;
}

.width99{
	width: 98.7%;
	margin-left: 3px;
}

a.loading
{
	 background: transparent url('../images/loading.gif') no-repeat center right;
}

.width250px{
	width: 250px;
	text-transform: uppercase;
}

.width123px{
	width: 123px;
}
/* ul {list-style: none;padding: 0px;margin: 0px;  display:table;width: 100%;}
  ul li {display: block;position: relative;float: left;border:1px solid #85C1A9;}
  li ul {display: none;}
  ul li a {display: block;background: #85C1E9;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: #fff;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #85C1E9;}
  li:hover li a:hover {background: #fff;}
  #navbar li ul li {border-top: 0px;} */


/* ul {list-style: none;padding: 0px;margin: 0px; display: table;width: 100%; background-color:#fff;}
 ul li{
    padding: 2px;
    display:table-cell;
    width: 50px; 
    text-align: center;
    background: #85C1E9;
}
li ul {display: none;}
ul li a {display: block;padding: 5px 10px 5px 10px;text-decoration: none;white-space: nowrap;color: #fff;}
ul li a:hover {background: #CEE3F6;}
li:hover ul {display: block; position: absolute;}
li:hover li {float: none;}
li:hover a {background: #85C1E9;}
li:hover li a:hover {background: #CEE3F6;}
 #navbar li ul li {border-top: 0px;}  */